[user]
    name = Mateusz Urbańczyk
    email = mu@qed.ai

[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[color]
    ui = auto

#[color "branch"]
#	current = yellow bold
#	local = green bold
#	remote = cyan bold
#[color "diff"]
#	meta = yellow bold
#	frag = magenta bold
#	old = red bold
#	new = green bold
#	whitespace = red reverse
[color "status"]

    added = green
    changed = red
    untracked = magenta

[diff]
    tool = vimdiff

[pull]
  ff = only

[difftool]
    prompt = false

[merge]
    tool = vimdiff
    prompt = false

[github]
	user = Tomatosoup97

[alias]
    a = add
    aa = add --all
    au = add -u

    b = branch
    ba = branch -a
    bd = branch -d
    bD = branch -D


    ; cleanup = "!git branch --merged | egrep -v '(^\*|master|dev)' | xargs git branch -d"
    ci = commit -v
    ca = commit --amend
    can = commit --amend --no-edit
    cae = commit --allow-empty

    co = checkout
    cb = checkout -b
    com = checkout master
    cof = checkout --

    cp = cherry-pick
    cpc = cherry-pick --continue
    cpa = cherry-pick --abort

    d = diff
    ds = diff --cached
    dt = difftool

    l = log --oneline --graph
    lr = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    la = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short

    today   = log --since=midnight --color --graph \
            --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)[%an]%Creset' \
            --abbrev-commit
    yesterday = log --since yesterday --until=midnight --color --graph \
              --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)[%an]%Creset' \
              --abbrev-commit

    pl = pull
    plo = pull origin
    plom = pull origin master
    ploh = pull origin HEAD
    plum = pull upstream master
    prom = pull --rebase origin master
    prum = pull --rebase upstream master

    po = push origin
    pof = push origin -f
    poh = push origin HEAD
    pohf = push origin HEAD -f
    pom = push origin master
    pomf = push origin master -f

    rb = rebase
    rbm = rebase master
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase --interactive
    rbs = rebase --skip

    f = fetch
    fo = fetch origin
    fu = fetch upstream

    un = reset HEAD

    r = remote -v

    rH = reset HEAD
    rha = reset --hard
    rso = reset --soft

    rev = review --reviewers mu
    Rev = review -R --reviewers mu
    rd = review -d
    rl = review --list
    resetwithorigin = reset --hard origin/master

    rmc = rm --cached

    s = status

    st = stash
    sta = stash apply
    stc = stash clear
    std = stash drop
    stl = stash list --color=always --pretty=format:'%C(yellow)%h%C(reset) - %C(bold dim yellow)(%C(magenta)%gd%C(dim yellow))%C(reset) %C(green)(%cr) %C(reset) %<(120,trunc)%s %C(reset)'
    stp = stash pop
    sts = stash save
    stw = stash show
    submodule-recursive = submodule update --init --recursive

    initial-commit = rev-list --max-parents=0 HEAD
    howmany = shortlog -sn
    howmanytotal = rev-list --count master
    howmanylines = log --author="Mateusz Urbańczyk" --pretty=tformat: --numstat | gawk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf "added lines: %s removed lines: %s total lines: %s\n", add, subs, loc }' -

